.quiz-container{
  width: 60%;
  margin: 0 auto;
  font-family: Montserrat;
}
.loader {
  content: '';
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    margin: auto;
    -webkit-animation: loader-rotation .8s infinite linear;
    animation: loader-rotation .8s infinite linear;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
    border-right: 3px solid rgba(255, 255, 255, 0.15);
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    border-top: 3px solid rgba(208, 32, 1, 0.8);
    border-radius: 100%;
}

@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); }
}
button:focus
 {outline:0;}

.quiz-info{
  width:auto;
  height: 65vh;
  position: relative;
}
  @keyframes bounceIn{
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}
.back-btn,.next{
  background-color: transparent;
  background-repeat: no-repeat;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom:0.34rem solid #f9dd23;
  color: #f9dd23;
  padding: 0.45rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.quiz-ques{
  font-size: 3rem;
  margin-top: 5rem;
  color: #f2f0f0;
}
.option-list{
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.options{
  list-style: none;
  width: 40%;
  font-size: 2rem;
  text-align: center;
  margin:1rem 2rem;
  padding: 2rem;
  cursor: pointer;
  background:#fff;
  border-radius: 0.5rem;
  color:#033d55;
  box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.1), 0 0.375rem 0.375rem rgba(0,0,0,0.6);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
.options:hover{
  box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.1), 0 0.375rem 0.375rem rgba(0,0,0,1);
  margin-top: 0.7rem;
}
.next{
  padding:0.5rem 2.5rem;
  border: 0.2rem solid #f98723;
  float: right;
  color: #f98723;
  box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.1), 0 0.375rem 0.375rem rgba(0,0,0,0.3);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.next:hover{
  background-color: #f98723;
  color: #fff;
}
.green{
  background: #05b857;
  transform: scale(1);
  animation: pulse 0.4s;
}
.red{
  background: #ff2828;
  animation: shake 5s;
  position: relative;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }

    70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(44, 209, 15, 0.3);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3rem}
  2% {left: 5rem}
  3% {left: -8rem}
  4% {left: 8rem}
  5% {left: -5rem}
  6% {left: 3rem}
  7% {left: 0}
}
.quiz-over{
  width:100%;
  margin-top: 10rem;
}
.final-score{
  color:#fff;
  font-size: 4rem;
  padding: 2rem;
  margin-bottom: 2rem;
  animation:enlarge 0.2s;
}
@keyframes enlarge {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5);
  }
}
.quiz-score{
  font-size: 2.5rem;
  font-weight:  bold;
  color:#e31f1f;
  position: absolute;
  top:2rem;
  right: 2.5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .quiz-info{
    top:10rem;
  }
  .back-btn{
    position: relative;
    top:4rem;
  }
  .quiz-score{
    top:5rem;
  }
}
@media (max-width: 481px) {
    .quiz-ques{
      font-size: 1.6rem;
    }
    .options{
      font-size: 1.4rem;
    }
}
